.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #15616d;
  width: 100vw;
  height: 100px;
}

.links {
  font-size: 35px;
  color: #ef8354;
  font-family: 'Amatic SC', cursive;
  padding-right: 50px;
}

.logo {
  padding-left: 40px;
}

